#Overlay {
    display: block;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 15;
}

#Overlay #details-produto{
    display: flex;
    width: 90%;
    max-width: 900px;
    height: 80%;
    background-color: #FEFEFE;
    position: absolute;
    border-radius: 3%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 50px 20px 50px;
    justify-content: space-between;
    text-align: justify;
    overflow: auto;
    z-index: 20;
}

#Overlay #close-produto{
    margin-top: -30px;
    left: 95%;
    transform: translate(-70%,0);
    width: 25px;
    position: absolute;
}

#Overlay #close-produto:hover{
    /* background-color: red; */
    filter: invert(50%);
}

#Overlay #imagens-details-produto{
    width: 45%;
    display: block;
}

#Overlay #imagem-detail-before{
    width: 80%;
    max-width: 300px;
    display: flex;
    margin: 0 auto;
}
#Overlay #imagens-details-produto div img{
    width: 40%;
}
#Overlay #imagens-details-produto div{
    display: flex;
    justify-content: space-around;
}

#Overlay #detalhes-produto-info{
    width: 48%;
}

#Overlay #detalhes-produto-especificacoes{
    display: block;
    border-left: 5px solid #0A3625;
    margin: 25px 0px 50px 0px;
    padding: 0 10px;
}

#Overlay #detalhes-produto-info h1{
    font-weight: normal;
}

#Overlay #detalhes-produto-info span{
    font-weight: 900;
}

#Overlay #quero-comprar{
    color: white;
    background-color: #039960;
    width: 160px;
    font-weight: 900;
    padding: 2px 15px;
    border-radius: 32px;
    font-size: 22px;
    display: flex;
    margin: 0 auto;
}

.button-pop-up{
    background-color: #039960;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: 900;
    display: block;
    border-radius: 32px;
    font-size: 22px;
    padding: 0 20px;
    margin: 0 auto;
    white-space: normal;
}

.button-pop-up:hover{
    background-color: rgb(0, 85, 45);
    transition: 500ms;
    cursor: pointer;
}

@media screen and (max-width: 915px) {
    .button-pop-up {
        font-size: 14px;
        padding: 0 10px;
    }
}
@media screen and (max-width: 630px) {
    .button-pop-up {
        padding: 0 5px;
        font-size: 12px;
    }
}

@media screen and (max-width: 715px){
    #Overlay #details-produto{
        display: block;
        width: 80%;
    }
    #Overlay #imagens-details-produto{
        /* background-color: red; */
        display: flex;
        width: 100%;
    }
    #Overlay #imagens-details-produto div{
        display: block;
    }
    #Overlay #imagens-details-produto div img{
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    #Overlay #imagem-detail-before{
        width: 50%;
        max-width:none;
        display: flex;
        margin: 0 auto;
        /* background-color: red; */
    }
    #Overlay #detalhes-produto-info{
        width: 80%;
        margin: 0 auto;
    }
    #Overlay #detalhes-produto-info h1{
        font-size: 24px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: -10px;
    }
    #Overlay #detalhes-produto-info p{
        font-size: 12px;
        text-align: justify;
    }
    #Overlay #detalhes-produto-info #detalhes-produto-especificacoes p{
        text-align: justify;
    }

    #Overlay #detalhes-produto-especificacoes{
        padding: 0 10px;
        margin: 10px 0px 20px 0px;
    }

    #Overlay #quero-comprar{
        display: flex;
        width: 120px;
        padding: 2px 15px;
        font-size: 16px;
        margin: 0 auto;
    }

    #Overlay #close-produto{
        margin-top: -30px;
        left: 85%;
        width: 25px;
        position: absolute;
    }
}
/* &nbsp; */

/* "https://chat.whatsapp.com/EyT71Xs9DoDFVWtpNpmovy" */