.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

main {
  background-color: #ebe9e993;
}
.scroll-container {
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 10px;
}

.container-feedback {
  display: flex;
  flex-wrap: nowrap;
  min-width: fit-content; /* Define a largura mínima necessária para conter os itens */
}

.coment {
  background: #0A3625 ;
  color: #fff;
  width: 350px;
  margin: 10px;
  border-radius: 15px;
  margin-right: 10px; /* Espaçamento entre os comentários */
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.1);
}
.estrelas{
  width: 190px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex; 
  margin-left: 80px; 
  margin-right: 0px;
 
}




.card{
  background: #f7f5f5 ;
  width: 270px;
  margin: 10px;
  border-radius: 15px;
  margin: 5px 80px 15px 80px;
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.1);

}
.subtitle{
  text-align: center;
  margin: 30px;
  font-size: 1.0rem;
  font-style: italic;

}
.seta{
  width:40px;
  margin: 25px;
  
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

.seta2{
  width:40px;
  margin: 25px;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

  
.slogan{
  text-align: center;
  margin-top: -50px;
}




.texto2{
  text-align: left;
  margin-left: 80px; 
  margin-right: 50px;
}

.coment p{
  text-align: justify;
  text-align: left;
  margin: 1rem 2rem;
  font-size: 0.9rem;
}

.coment h2{
  text-align: justify;
  text-align: left;
  margin: 1rem 2rem;
  font-size: 1.5rem;
}

.card p{

  text-align: justify;
  text-align: left;
  margin: 1rem 2rem;
  font-size: 0.9rem;  

   
}

.card h2{
  padding: 10px;
  text-align: center;
  word-wrap: none;
  font-size: 1.3rem;
   
}

.card a{
  background-color: #0A3625;
  color: #fff;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  border-radius: 15px;


}


.card-img{
  margin-bottom: 15px;
  height: 170px;
  background-size: cover;
  border-radius: 15px 15px 0 0;

}

.Industria{
background-image: url(imagens/INDÚSTRIA\ MODELO.png);
}
.Modelo{
  background-image: url(imagens/MODELO\ MÓVEIS.jpg);
}
.Madereira{
  background-image: url(imagens/MADEREIRA\ MADEIRA.png);
}


@media screen and (max-width: 880px){
  
  .estrelas{
    width: 190px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: center; 
    margin-left: 210px; 
    margin-right: 0px;
   
  }

  .texto2{
    text-align: left;
    margin-left: 210px; 
    margin-right: 50px;
  }
  
}


@media screen and (max-width: 680px){

  .slogan{
    text-align: center;
    margin-top: -20px;
    font-size: 0.5rem;
  }

  .subtitle{
    text-align: center;
    margin: 30px;
    font-size: 0.8rem;
    font-style: italic;
  
  }

  .estrelas{
    width: 190px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: center; 
    margin-left: 100px; 
    margin-right: 0px;
   
  }

  .texto2{
    text-align: left;
    margin-left: 100px; 
    margin-right: 50px;
    font-size: 1.0rem;
  }

  .coment{
    background: #0A3625 ;
    width: 300px;
    color: #fff;
    font-size: 0.5rem;
    margin: 10px;
    border-radius: 10px;
    margin: 5px 1px 15px 10px;
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.1);
  
  }

  .card{
    background: #f7f5f5 ;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
    margin: 5px 80px 15px 80px;
    box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.1);
  
  }

  


  

}