.sessao-imagem {
    background-image: url(../imagens/image20.png);
    background-size: cover;
    background-color: #0A3625;
    padding: 40px 0px 30px;
    display: block;
    width: 100%;
}

.sessao-imagem h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: 900;
}

.sessao-imagem a {
    display: block;
    color: #0A3625;
    font-weight: 700;
    font-size: 22px;
    border-radius: 10px;
    background-color: white;
    margin: 20px auto 30px;
    width: fit-content;
    padding: 12px 35px 12px;
}

main {
    background-color: #d3d3d393;
    color: #0A3625;
    padding-bottom: 90px;
}

main section {
    display: flex;
    width: 600px;
    margin: 0 auto 0;
    padding-top: 90px;
}

main section h2 {
    font-weight: 900;
}

main section img {
    width: 40px;
    margin-right: 10px;
    align-self: self-start;
}

@media screen and (max-width: 630px) {
    .sessao-imagem {
        padding: 20px 0px 10px;
    }

    .sessao-imagem h1 {
        font-size: 22px;
    }

    .sessao-imagem a {
        font-size: 16px;
        margin: 10px auto 20px;
        width: fit-content;
        padding: 6px 18px 6px;
    }

    main {
        padding-bottom: 50px;
    }

    main section {
        width: 90%;
        padding-top: 40px;
    }

    main section h2 {
        font-weight: 900;
        font-size: 18px;
    }

    main section p {
        font-size: 12px;
    }
}