.sessao-imagem {
    position: relative;
    background-color: #024f31;
    display: block;
    width: 100%;
    opacity: 0.9;
    padding: 0px 0px 240px;
}

.sessao-imagem::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../imagens-madereira/Madeira.png);
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

.sessao-imagem h1 {
    font-size: 40px;
    color: white;
    font-weight: normal;
}

.sessao-imagem h1 .span-0 {
    display: block;
}

.sessao-imagem h1 .span-1 {
    text-transform: uppercase;
    color: #FAFF00;
    font-weight: 900;
}

.sessao-imagem h1 .span-2 {
    text-transform: uppercase;
    font-weight: 900;
}

.sessao-imagem p {
    color: white;
}

.sessao-imagem div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


main {
    background-color: #d3d3d393;
    color: #0A3625;
    padding-bottom: 35px;
    padding-top: 100px;
}

main .span1 {
    display: block;
    font-weight: 500;
    color: #0A3625;
}

main .span2 {
    font-weight: 900;
    color: #0A3625;
}

.body-topo{
    display: flex;
    width: 100%;
}

.body-topo .categorias{
    width: 180px;
    justify-content: start;
    margin-left: 30px;
}

.body-topo .categorias div{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.categorias label{
    font-weight: 500;
}

input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    background-color: #D9D9D9;
    width: 20px;
    height: 20px;
    border: 2px solid #949494;
    border-radius: 4px;
    outline: none;
    margin-right: 5px;
  }
  
input[type="radio"]:checked{
    background-color: #0A3625;
}

.body-topo .categorias h2{
    font-weight: 900;
}

.body-topo .categorias h3{
    margin-top: 50px;
}

.body-topo .categorias p{
    color: black;
}

.preferencia div {
    font-size: 12px;
}

.preferencia img {
    width: 25px;
    margin-right: 5px;
}

.preferencia {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.preferencia div {
    display: flex;
}

.preferencia img {
    width: 40px;
    margin-right: 10px;
}


.produto-topo{
    width: 180px;
    background-color: white;
    border-radius: 30px 30px 0 0;
    margin-bottom: 30px;
}

.produto-topo img {
    width: 80%;
    display: block;
    margin: 20px auto 0;
}

.produto-topo p {
    display: block;
    margin: 10px 10%;
    font-size: 13px;
    white-space: normal;
}

.produto-topo a {
    color: white;
    background-color: #039960;
    font-weight: 900;
    display: block;
    text-align: center;
    border-radius: 32px;
    font-size: 22px;
    white-space: normal;
}

.artc-topo{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
   flex-wrap: wrap;
}

.melhores-produtos {
    margin: 15px 2% 10px;
    width: 80%;
    padding-bottom: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.melhores-produtos h2{
    margin-bottom: 20px;
    font-weight: 900;
    display: block;
}


.produto {
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 50px;
}
.selecao-cama {
    display: flex;
    background-color: #FFE607;
    margin: 60px 0;
    color: #0A3625;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.selecao-cama img {
    width: 60%;
}

.selecao-cama div {
    background-color: #FFE607;
    width: 40%;
    display: block;
    
}

.selecao-cama h1{
    font-weight: 900;
    font-size: 46px;
}

.selecao-cama h2 {
    display: block;
    font-weight: 900;
    font-size: 38px;
}

.selecao-cama p{
    font-size: 38px;
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: -10px;
}

.selecao-cama .renove-sala {
    margin: -11px 0 0px 27%;
    font-size: 22px;
    padding-bottom: 20px;
}

.mais-vendidos {
    margin: 0px 5% 0px;
    overflow-x: auto;
    width: 90%;
    white-space: nowrap;
    height: 270px;
    padding-bottom: 5px;
}

@media screen and (max-width: 915px) {
    main .opcoes a {
        width: 130px;
    }
    .mais-vendidos{
        height: 200px;
    }

    .selecao-cama {
        margin: 30px 0;
    }

    .selecao-cama h1{
        font-size: 36px;
    }
    .selecao-cama h2{
        font-size: 32px;
    }

    .selecao-cama p{
        font-size: 32px;
    }

}

@media screen and (max-width: 630px) {
    main .opcoes a {
        font-size: 14px;
        width: 70px;
        border-radius: 15px;
    }

    .mais-vendidos{
        height: 180px;
    }

    .sessao-imagem h1 {
        font-size: 28px;
    }

    .sessao-imagem p {
        font-size: 15px;
    }

    .selecao-cama {
        margin: 40px 0;
        display: flex;
        background-color: #FFE607;
    }

    .selecao-cama img {
        width: 60%;
    }

    .selecao-cama h1{
        font-size: 29px;
    }
    .selecao-cama h2{
        font-size: 24px;
    }

    .selecao-cama p{
        font-size: 24px;
    }
}